<link rel="stylesheet" href="/style.css">

<div>
  <h1>Space Manager</h1>

  <% @spaces.each do |space| %>
  <div class='space-manager'>
    <div class='space-information'>
      <ul>
        <li><%= space[:description] %></li>
        <li><%= space[:location] %></li>
        <li><%= space[:price] %></li>
      </ul>
    </div>

    <% space[:booking_requests].each do |req| %>
    <div class='booking-request'>
      <li class='booking-date'><%= req[:booking_date] %></li>
      <form action="/accept_booking" method="post" class='inline'>
        <input type="hidden" name='booking_request_id' value="<%=req[:booking_id]%>">
        <input type="submit" value="accept">
      </form>
        <form action="/decline_booking" method="post" class='inline'>
        <input type="hidden" name='booking_request_id' value="<%=req[:booking_id]%>">
        <input type="submit" value="decline">
      </form>
    </div>
    <% end %>
  </div>
  <% end %>

  <form action='/space_manager' method='post'>
    <input type="text" name='description' placeholder='Description'>
    <input type="text" name='location' placeholder='Location'>
    <input type="number" name='price' placeholder='Price'>
    <input type="date" name='date'>
    <input type="submit" value="submit">
  </form>

  <form action='/options'>
    <input type="submit" value="Return to options">
  </form>

</div>
